body {
  padding: 100px;
  width: 600px;
  height: 600px;
}

.wrapper {
  display: grid;
  grid-template-rows: 200px 200px 200px;
 }

.block1 {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.block2 {
   position: relative;
   grid-column: 2;
   grid-row: 1;
}

.block3 {
   position: relative;
   grid-column: 3;
   grid-row: 1;
}

.block4 {
  position: relative;
  grid-column: 4;
  grid-row: 1;
}

.block5 {
  position: relative;
  grid-column: 1;
  grid-row: 2;
}

.block6 {
   position: relative;
   grid-column: 2;
   grid-row: 2;
}

.block7 {
   position: relative;
   grid-column: 3;
   grid-row: 2;
}

.block8 {
  position: relative;
  grid-column: 4;
  grid-row: 2;
}

.block9 {
  position: relative;
  grid-column: 1;
  grid-row: 3;
}

.block10 {
   position: relative;
   grid-column: 2;
   grid-row: 3;
}

.block11 {
   position: relative;
   grid-column: 3;
   grid-row: 3;
}

.block12 {
  position: relative;
  grid-column: 4;
  grid-row: 3;
}

.mogura {
  position: absolute;
  width: 70px;
  padding-left: 15px;
}

.box {
  position: absolute;
  height: 70px;
  width: 100px;

  background-color: green;
}